<div *ngIf="pokemons$ | async as pokemons;">
  <div *ngIf="pokemons.length > 0; else noPokemons">
    <div *ngFor="let pokemon of pokemons; trackBy: trackById">
      <p>Name: {{ pokemon.name }}</p>
      <p>Type 1: {{ pokemon.type1.typeName }}</p>
      <p *ngIf="pokemon.type2">Type 2: {{ pokemon.type2?.typeName }}</p>
      <div>
        <p>Weaknesses:</p>
        <ul>
          <li *ngFor="let weakness of pokemon.pokemonWeaknesses">{{ weakness.type?.typeName }}</li>
        </ul>
      </div>
      <div>
        <p>Strengths:</p>
        <ul>
          <li *ngFor="let strength of pokemon.pokemonStrengths">{{ strength.type?.typeName }}</li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #noPokemons>
    <p>No Pokemons available.</p>
  </ng-template>
</div>
