<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <div *ngFor="let pokemon of pokemons" class="bg-white rounded-lg shadow-md p-4">
    <h2 class="text-xl font-semibold mb-2">{{ pokemon.name }}</h2>
    <div *ngIf="pokemon.type1">
      <p><strong>Type 1:</strong> {{ pokemon.type1.typeName }}</p>
    </div>
    <div *ngIf="pokemon.type2">
      <p><strong>Type 2:</strong> {{ pokemon.type2.typeName }}</p>
    </div>
    <div>
      <p><strong>Strengths:</strong></p>
      <ul>
        <li *ngFor="let strength of pokemon.pokemonStrengths">{{ strength.type.typeName }}</li>
      </ul>
    </div>
    <div>
      <p><strong>Weaknesses:</strong></p>
      <ul>
        <li *ngFor="let weakness of pokemon.pokemonWeaknesses">{{ weakness.type.typeName }}</li>
      </ul>
    </div>
  </div>
</div>
