<form [formGroup]="addPokemonForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
  </div>

  <div class="form-group">
    <label for="type1">Type 1:</label>
    <select id="type1" formControlName="type1" (change)="onType1Change($event.target.value)">
      <option *ngFor="let type of types" [value]="type.typeName">{{ type.typeName }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="type2">Type 2:</label>
    <select id="type2" formControlName="type2" (change)="onType2Change($event.target.value)">
      <option *ngFor="let type of types" [value]="type.typeName">{{ type.typeName }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Strengths:</label>
    <div *ngFor="let strength of pokemonStrengths.controls; let i = index">
      <div>{{ strength.value.type.typeName }} <button type="button" (click)="removeStrength(i)">Remove</button></div>
    </div>
  </div>

  <div class="form-group">
    <label>Weaknesses:</label>
    <div *ngFor="let weakness of pokemonWeaknesses.controls; let i = index">
      <div>{{ weakness.value.type.typeName }} <button type="button" (click)="removeWeakness(i)">Remove</button></div>
    </div>
  </div>

  <button type="submit">Save</button>
  <p>{{ successMessage }}</p>
</form>
