<div class="bg-red-500 text-white p-8">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-center flex-grow">
        <h1 class="text-4xl font-bold">Pokedex</h1>
        <p class="text-lg">Welcome to the virtual Pokedex</p>
      </div>
      <ul class="flex text-red-100 space-x-4 ml-auto">
        <li class="text-xl hover:text-white"><a routerLink="/">Home</a></li>
        <li class="text-xl hover:text-white"><a routerLink="/search">Search</a></li>
        <li class="text-xl hover:text-white"><a routerLink="/add">Add</a></li>
      </ul>
    </div>
  </div>
  