@font-face {
    font-family: 'Flexo-Demi';
    src: url('/assets/fonts/flexo-demi.woff2') format('woff2'),
         url('/assets/fonts/flexo-demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }