<div *ngIf="pokemons.length > 0" class="grid grid-cols-4 gap-6 p-16">
    <div *ngFor="let pokemon of pokemons" 
         (click)="viewPokemonEntry(pokemon.name)"
         class="pokemon-card cursor-pointer hover:bg-gray-100 transition">
      
      <!-- Container for the Pokémon's details -->
      <div class="flex flex-col items-center justify-center p-2">
        <!-- Name Section -->
        <h2 class="text-2xl font-bold mb-4">{{ pokemon.name }}</h2>
  
        <!-- Image Section -->
        <img *ngIf="pokemon.imageUrl" [src]="pokemon.imageUrl" alt="{{ pokemon.name }}" class="pokemon-image mb-2">
  
        <!-- Type Section -->
        <div class="text-base font-semibold">
          <span class="type-label"
          [ngStyle]="{ 
            'background-color': getTypeColor(pokemon.type1.typeName).backgroundColor,
            'color': getTypeColor(pokemon.type1.typeName).fontColor
          }">
            {{ pokemon.type1.typeName }}
          </span>
          <span *ngIf="pokemon.type2" class="type-label ml-2"
          [ngStyle]="{ 
            'background-color': getTypeColor(pokemon.type2.typeName).backgroundColor,
            'color': getTypeColor(pokemon.type2.typeName).fontColor
          }">
            {{ pokemon.type2.typeName }}
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="pokemons.length === 0" class="text-center text-gray-500">No Pokemons Found...</div>
  