<div *ngIf="pokemons.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 p-12">
    <div *ngFor="let pokemon of pokemons" class="bg-white rounded-xl shadow-lg p-6 border-2 border-gray-200">
      <h2 class="text-xl font-bold mb-4 text-center">{{ pokemon.name }}</h2>
  
      <!-- Basic Info -->
      <div class="text-sm text-gray-600 mb-4">
        <strong>Type:</strong>
        {{ pokemon.type1.typeName }}
        <span *ngIf="pokemon.type2"> / {{ pokemon.type2.typeName }}</span>
      </div>
  
      <!-- Strengths Section -->
      <div class="text-sm text-gray-600 mb-4">
        <strong>Strengths:</strong>
        <div *ngFor="let strength of pokemon.pokemonStrengths">
          {{ strength.type.typeName }}
        </div>
      </div>
  
      <!-- Weaknesses Section -->
      <div class="text-sm text-gray-600">
        <strong>Weaknesses:</strong>
        <div *ngFor="let weakness of pokemon.pokemonWeaknesses">
          {{ weakness.type.typeName }}
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="pokemons.length === 0" class="text-center text-gray-500">No Pokemons Found...</div>
  