<div class="search-container flex flex-col items-center p-9">
  <form (ngSubmit)="onSearchSubmit()" #searchForm="ngForm" class="w-full max-w-screen-lg">
    <div class="flex items-center">
      <input [(ngModel)]="searchQuery"
             name="searchQuery"
             type="text"
             placeholder="Enter pokémon name"
             class="search-input border p-2 rounded-lg flex-grow"
             (input)="onSearchInput()"
             required />
      <button type="submit"
              class="search-button bg-blue-500 text-white p-3 rounded-lg ml-4">
        Search
      </button>
    </div>
  </form>

  <!-- Dropdown for search results -->
  <div *ngIf="filteredPokemons.length > 0" class="search-dropdown mt-2 w-full max-w-screen-lg">
    <ul>
      <li *ngFor="let pokemon of filteredPokemons"
          (click)="selectPokemon(pokemon)"
          class="search-result-item cursor-pointer p-2 hover:bg-gray-100">
        {{ pokemon.name }}
      </li>
    </ul>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="text-red-500 mt-4">{{ errorMessage }}</div>

  <!-- Pokémon Cards -->
  <div *ngIf="filteredPokemons.length > 0" class="pokemon-cards-container mt-14 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" [ngClass]="{ 'grid-template-none': filteredPokemons.length == 1 }">
    <div *ngFor="let pokemon of filteredPokemons" class="pokemon-card cursor-pointer hover:bg-gray-100 transition p-4 rounded-lg border">
      <h2 class="text-2xl font-bold mb-4">{{ pokemon.name }}</h2>

      <!-- Pokémon Image -->
      <img *ngIf="pokemon.imageUrl" [src]="pokemon.imageUrl" alt="{{ pokemon.name }}" class="pokemon-image mb-2">

      <!-- Pokémon Type -->
      <div class="text-xl p-4 font-semibold flex space-x-2">
        <span class="type-label"
              [ngStyle]="{ 'background-color': getTypeColor(pokemon.type1.typeName).backgroundColor, 'color': getTypeColor(pokemon.type1.typeName).fontColor }">
          {{ pokemon.type1.typeName }}
        </span>
        <span *ngIf="pokemon.type2" class="type-label ml-2"
              [ngStyle]="{ 'background-color': getTypeColor(pokemon.type2.typeName).backgroundColor, 'color': getTypeColor(pokemon.type2.typeName).fontColor }">
          {{ pokemon.type2.typeName }}
        </span>
      </div>

      <!-- Action Buttons -->
      <div class="flex justify-end space-x-4 mt-6">
        <button class="circular-button bg-green-400 text-white hover:bg-green-700"
                (click)="viewPokemonEntry(pokemon.name)">
          <i class="fa fa-search"></i>
        </button>
        <button class="circular-button bg-blue-400 text-white hover:bg-blue-700"
                (click)="editPokemon(pokemon.id)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="circular-button bg-red-400 text-white hover:bg-red-700"
                (click)="deletePokemon(pokemon.id)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <ng-template #noResults>
    <p>No results found...</p>
  </ng-template>
</div>
